*, *::after, *::before {
	box-sizing: border-box;
  }

:root{
	--cell-size: 100px;
	--mark-size: calc(var(--cell-size) * .9)

}
body{
	margin: 0;
}

.board{
	width: 100vw;
	height: 100vh;
	display: grid;
	justify-content: center;
	align-content: center;
	grid-template-columns: repeat(3,auto);
	justify-items: center;
	align-items: center;
}

.cell{
	width: var(--cell-size);
	height: var(--cell-size);
	position: relative; 
	border: 2px solid black;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
.cell.x,
.cell.circle{
	cursor: not-allowed;
}
.cell:first-child,
:nth-child(2),
:nth-child(3){
	border-top: none;
}

/* salta de 3 en 3, arranca en 0, va al 3, desp al 7 */
.cell:nth-child(3n+1){
	border-left: none;
}
.cell:nth-child(3n+3){
	border-right: none;
}

.cell:nth-child(7),
:nth-child(8),
:nth-child(9){
	border-bottom: none;
}


/* el not, en caso de que tenga esa clase el elemento no va a actuar el hover */
.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after{
	background-color: goldenrod;

}
/* los colores hay que ponerlos aparte si no con el hover no cambia */
.cell.x::before,
.cell.x::after{
	background-color: black;
}

/* el not, en caso de que tenga esa clase el elemento no va a actuar el hover */
.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after{
	 position: absolute; 
	content: "";
	width: calc(var(--mark-size)*.15);
	height: var(--mark-size);

}

.cell.x::before,
.board.x .cell:not(.x):not(.circle):hover::before{
	transform: rotate(45deg);
}
.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::after{
	transform: rotate(-45deg);
}



/* los hover del circulo */
.board.circle .cell:not(.x):not(.circle):hover::before{
	background-color: goldenrod;
	opacity: 0.7;
}
.board.circle .cell:not(.x):not(.circle):hover::after{
	background-color: white;
}

.cell.circle::before,
.cell.circle::after{
	background-color: black;
}

.cell.circle::before,
.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::before,
.board.circle .cell:not(.x):not(.circle):hover::after{
	 position: absolute; 
	content: "";	
	border-radius: 50%;
}

.cell.circle::before,
.board.circle .cell:not(.x):not(.circle):hover::before{
	width: calc(var(--mark-size));
	height: var(--mark-size);
	
	
}

.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::after{
	width: calc(var(--mark-size)*.7);
	height: calc(var(--mark-size)*.7);
	background-color: white;
}

/* boton */

.winning-message{
	display: none;
	background-color: black;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: white;
	font-size: 5rem;
	
}
.winning-message button{
	font-size: 3rem;
	background-color: white;
	border: 1px solid goldenrod;
	color: black;
	padding: 2rem;
	cursor: pointer;
	border-radius: 2rem;

}

.winning-message button:hover{
	color: white;
	background-color: black;
}

.winning-message.show{
	display: flex;
}